#soshibar-logo { 
    color: blue
}

nav {
    color: rgb(21, 255, 0);
}

.nav a {
    color: red;
}

.button__image {
    color: orange;
}

.button__link {
    color: rgb(68, 0, 255);
}

.logo img {
    size: 0px;
}

.header-text__heading {
    color: blue ;
}

.header-text__paragraph {
    color: red;
}

.button-secondary__image {
    color: orange;
}

.button-secondary__link {
    color: purple;
}

.main-heading {
    color: red ;
}

.main-headin__image {
    color: red;
}

.main-headin__text {
    color: red;
}

.center-list {
    color: red;
}

.center-list__heaing {
    color: red;
}

.center-list__paragraph {
    color: red;
}

.center-list__paragraph.center-list__paagraph--secondary {
    color: red;
}

.center-list__image {
    color: red;
}
.comment__text {
   color: red; 
}

.comment__paragraph {
    color: red;
}

.comment__button {
    color: red;
}

.container-bg-dark {
    color: blue;
}

.container-bg-dark__padding {
    color: rgb(255, 0, 0);
}

.container-bg-dark__text-top {
    color: blue;
}

.container-bg-dark__text-center {
    color: blueviolet; 
}

.container-bg-dark__text-dc {
    color: violet;
}

.container-bg-dark__link {
    color: wheat;
}

.container-bg-light# {
    color: yellow;
}

.container-bg-light#__text-lpc {
    color: yellowgreen;
}



