#soshibar-logo { 
    color: blue
}

.header {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 1;
}

 #soshibar-logo {
    display: inline;
    margin-left: 375px;
    margin-top: 50px;
}

.menu {
    margin-top: 90px;
    margin-left: 245px;
}

.nav {
    display: inline;
}

ul li {
    padding: 20px;
    text-align: right;
    display: inline;
    margin-top: 80px;
}

ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    display: inline;
    font-family: 'Myriad Pro', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul li a:hover {
    color:rgb(255, 0, 0);
}

.menu__link.active {
    color: rgb(255, 0, 0);
}

.button {
    margin-left: 40px;
    margin-top: 90px;
}

.button__link {
    padding: 20px;  
    background-color: rgb(255, 0, 0);
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro {
    background: url(home-banner.jpg);
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.silder {
    margin-top: 220px;
    margin-left: 420px;
}

.main-logo {
    margin: 0px;
    margin-bottom: 45px;
}

.header-text {
    display: flex;
    flex-direction: column;
}

div h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 55px;
    margin: 0px;
    margin-bottom: 22px;
}

.header-text__paragraph {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(158, 158, 160);
    font-size: 18px;
    margin-bottom: 65px;
    margin-top: 0px;
}

.button-main{

}

.main-heading {
    text-align: center;
    background: url(home-style.jpg);
   /* background-position: center;*/
    background-position-x: center;
    background-position-y: 1120px;
    padding: 90px;
}

.main-heading__text-lpc {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 100px;
}

.main-heading__image {
    margin-bottom: 30px;
    margin-top: 180px;
}

.price-list__title {
    padding: 50px
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.price-list__text {
    font-size: 16px;
    color: rgb(162, 161, 161);
}

.price-list__price {
    font-size: 30px;
    color: red;
    font: 500;
}

.price-list__button {
    display: inline-block;
    font-weight: 100;
    line-height: 2;
    width: 180px;
    height: 40px;
    font: bold;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 20px;
}

.container {
    max-width: 1200px;
    padding: 15px;
    margin: auto;
}

.container-fluid {
    max-width: 100%;
    margin: auto;
}


.price-list {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.price-list__item {
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgb(253, 204, 204);
    margin: 0 15px;
    height: 500px;
}

.price-list__image {
    margin-top: 0px;
}

.comment-part {
    display: flex;
    margin: auto;
}

.comment__image {
   margin: auto;
   padding-left: 370px;
   padding-top: 150px;
}

.comment__text {
    font-size: 40px;
    padding-left: 270px;
    padding-top: 260px;
    
}

.commment__paragraph {
    font-size: 16px;
    color: rgb(158, 158, 160);
    line-height: 25px;
    padding-left: 270px;
}

.comment-part__logo {
    display: block;
    
}

.container-bg-dark {
    background-color: rgb(3, 17, 37);
    display: block;
    margin-top: 270px;
    width: 1920px;
    height: 546px;
}

.container-bg-dark__text-top {
    color: rgb(255, 0, 0);
    text-align: center;
    padding-top: 200px;
    margin: 0px;
}

.container-bg-dark__text-center {
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 0px;
}

.container-bg-dark__link {
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: 16px;
}

.container-bg-dark__text-dc {
    color: white;
}

.container-bg-dark__padding-text {
    text-align: center;
}

.container-blog-light {
    padding-left: 200px;
    line-height: 1;
}

.container-bg-light__text-dc-pr {
    color: gray;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 50px;
}

.section-container {
    display: flex;
}

.section-first {
    margin-top: 200px;
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: url(testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgb(250, 253, 254);
    padding: 200px;
    text-align: center;
}

.container-bg-light__link {
    color: white;
    padding: 10px;
    background-color: red;
    margin-top: 50px;
    margin-left: 150px;
    display: inline-block;
}

.container-bg-light__image {
    margin-left: 50px;
    margin-top: 50px;
}

.container-bg-light {
    padding: 150px;
    padding-top: 200px;
    line-height: 45px;
}
 
.container-bg__text-lpc {
    font-size: 40px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-bg__image {
    padding: 0px;
    margin-bottom: 15px;
}

.container-bg__text-pr {
    margin-bottom: 15px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    margin-bottom: 60px;
}

.container-bg-first {
    text-align: center;
    padding: 0px;
}

.container-bg__img-pt {
    display: flex;
}

.container-bg__text-pr-pictuer {
    display: flex;
}

#name-first {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-left: 15px;
}

#name-seconde {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-left: 15px; 
}

.pt {
    display: flex;
}

.pc {
    display: flex;
}























